
.slick-slide {
    outline: none;
}


#mega {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999999;
    background: rgba(0, 0, 0, 1);
    /*display: none;*/
    transform: translateX(-100%);
    transition: all 1s;
}

#mega.on {
    transform: translateX(0);
}

#mega > .left {
    position: absolute;
    left: 240px;
    top: 140px;
    width: 500px;
    height: 720px;
}

#mega .left .menu {
    margin-bottom: 45px;
    opacity: 0.3;
    position: relative;
}

#mega .left .menu > div {
    display: inline-block;
    transition: all .5s;
    position: relative;
}


#mega .left .menu > div:after {
    content: '';
    width: 0;
    height: 2px;
    background: #fff;
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 1s
}


#mega .left .menu > div:hover:after {
    width: 110%;
}

#mega .left > div:hover {
    opacity: 1;
}

#mega .right {
    position: absolute;
    right: -200px;
    top: 100px;
    width: 500px;
    height: 720px;
}

#mega .right > .etc1 {
    position: absolute;
    right: 570px;
    top: 280px;
}

#mega .right > .etc2 {
    position: absolute;
    right: 284px;
    bottom: -60px;
}

#mega > div{
    cursor: pointer;
}



#header {
    width: 88px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999999;

}

#header > .open {
    width: 78px;
    height: 55px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#header > .open .inner {
    width: 35px;
    height: 9px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#header > .open .inner > div {
    width: 100%;
    height: 1px;
    background: #fff;
    transition: all 1s;
}

#header > .open .inner > div:nth-child(1) {
    transform-origin: left top;
}

#header > .open .inner > div:nth-child(2) {
    transform-origin: right bottom;
}

#header > .open.on .inner > div:nth-child(1) {
    transform: rotate(-45deg) translateY(13px);
}

#header > .open.on .inner > div:nth-child(2) {
    transform: rotate(45deg) translateY(2px);
}


#header > .bottom {
    width: 36px;
    height: 132px;
    position: absolute;
    left: 25px;
    bottom: 30px;
}

/** Scene01 **/
#section01 {
    background: #fff;
}

#section01 > .logo {
    background: url("../source/images/logo.jpg");
    width: 312px;
    height: 33px;
    margin: 35px 0 0 190px;
    position: relative;
    z-index: 100;
}

#section01 > .white_bg {
    width: 200px;
    height: 100px;
    background: #fff;
    position: absolute;
    left: 400px;
    top: 0;
    z-index: 99;
}

#section01 > .bg {
    width: 1482px;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    background: black;
}

/*메인 텍스트, 선글라스 이미지 */
#contents {
    width: 700px;
    height: 570px;
    position: absolute;
    left: 230px;
    top: 280px;
}


#contents .change_text {
    width: 600px;
    height: 400px;
    position: relative;
    left: 7px;
}

#contents .change_text > div {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: -1;
    transform: translateX(100px);
    transition: all 1s;
}

#contents .change_text > div.on {
    opacity: 1;
    z-index: 1;
    transform: translateX(0);
}

#contents .text1 {
    margin-bottom: 30px;
}

#contents .text2 {
    margin-bottom: 25px;
}

#contents .text3 {
    margin-bottom: 50px;
}


#section01 .model {
    position: absolute;
    right: 140px;
    bottom: 0;
}

#section01 .model .icon {
    cursor: pointer;
    position: absolute;
    left: -30px;
    top: 300px;
}


#section01 .model .model_box {
    width: 874px;
    height: 970px;
}


#section01 .model .model_box .slick-slide {
    position: relative;
}

#section01 .model .model_box .slick-slide img {
    transform: translateX(100px);
    opacity: 0;
    transition: all 1s;
}

#section01 .model .model_box .slick-slide.on img {
    transform: translateX(0);
    opacity: 1;
}


#section01 .change_n {
    width: 38px;
    height: 463px;
    position: absolute;
    right: 60px;
    top: 240px;
}

#section01 .change_n > .progress {
    width: 5px;
    height: 420px;
    position: absolute;
    left: 7px;
    top: 28px;
    background: #bfb5b5;
}

#section01 .change_n .progress > .bar {
    width: 5px;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
}

#section01 .change_n .progress > .bar.on {
    animation: bar2 4s 1 forwards;
}

@keyframes bar2 {

    to {
        height: 100%;
    }
}


#section01 .change_n .number {
    margin-bottom: 464px;
}

#section01 .change_n .number > div {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 0;
    transition: all 1s;
    transform: translateY(-4px);
}

#section01 .change_n .number > div.on {
    opacity: 1;
    z-index: 2;
    transform: translateY(0);
}

#section01 .change_n > .button {
    position: relative;
    cursor: pointer;
}


#section01 .change_n .button > .topb {
    margin-bottom: 20px;
}


/** Scene02 **/
#section02 {
    background: #e2e2e2;
    display: flex;
}

/* left박스 */
#section02 .left_box {
    width: 620px;
    height: 100vh;
    background: white;
}

#contents2 {
    width: 390px;
    height: 190px;
    position: absolute;
    left: 140px;
    top: 400px;
}


#contents2 > .text1 {
    margin-bottom: 20px;
    margin-left: -4px;
}

#contents2 > .text2 {
    margin-bottom: 30px;
}

#contents2 > .text3 {
    cursor: pointer;
}

/* right박스 */
#section02 .right_box {
    width: calc(100% - 620px);
    display: flex;
}


#section02 .right_box > div {
    flex: 1;
    border-right: 1px solid lightgray;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background: #fff;
    position: relative;
    filter: grayscale(90%);
}


#section02 .right_box > div:hover {
    background: #e2e2e2;
    filter: grayscale(0);
}

#section02 .right_box .model > .name1 {
    position: absolute;
    left: 30px;
    top: 130px;

}


/** Scene03 **/
#section03 {
    /*float: left;*/
    display: flex;
}


#section03 > #boxes {
    width: 900px;
    height: 100vh;
    /*float: left;*/
    background: url("../source/images/jennie01.jpg");
    position: relative;
}


#section03 #boxes > .box01 {
    width: 172px;
    height: 49px;
    position: absolute;
    right: 48px;
    top: 840px;
    cursor: pointer;
}

#section03 .right_box {
    width: 1022px;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}


#section03 .right_box > div {
    width: 510px;
    height: 50vh;
    position: relative;
}

#section03 .right_box > .jennie {
    background: url("../source/images/jennie196.png");
}

#section03 .right_box > .jennie02 {
    background: url("../source/images/jennie02.jpg");
}

#section03 .right_box > .mood {
    position: relative;
    background: url("../source/images/inthemood.jpg");
}

#section03 .right_box > .light {
    background: url("../source/images/moonlight.jpg");
}

#section03 .jennie > .sungl {
    position: relative;
    left: 90px;
    top: 200px;
    transform: translateX(100px);
    transition: all 1s;
}

#section03 .jennie > .sungl.on {
    transform: translateX(0);
}

#section03 .mood > .product {
    width: 288px;
    position: absolute;
    left: 113px;
    top: 205px;
}


#section03 .mood > .product .slick-dots {
    width: 60px;
    height: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#section03 .mood > .product .slick-dots > li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid transparent;
    transition: all .3s;
}


#section03 .mood > .product .slick-dots > li:nth-child(1) {
    background: #e6bf9d;
}

#section03 .mood > .product .slick-dots > li:nth-child(2) {
    background: #d3d3d3;
}

#section03 .mood > .product .slick-dots > li:nth-child(3) {
    background: #000;
}


#section03 .mood > .product .slick-dots > li.slick-active {
    border: 1px solid gray;
}


#section03 .mood > .product .slick-dots > li > button {
    display: none;
}

#section03 .mood > .icon1 {
    position: absolute;
    cursor: pointer;
    left: 30px;
    top: 235px;
}

#section03 .mood > .icon2 {
    position: absolute;
    cursor: pointer;
    right: 30px;
    top: 235px;
}


/** Scene04 **/
#section04 {
    background: white;
}

#section04 .acc {
    width: 537px;
    height: 280px;
    position: absolute;
    left: 300px;
    top: 190px;
}


#section04 #aacc {
    width: 1260px;
    height: 781px;
    position: absolute;
    left: 50px;
    bottom: 100px;
    transform: rotateY(180deg);
}


#section04 #aacc .slick-slide {
    width: 275px;
    height: 781px;
    overflow: hidden;
    margin: 0 16px;
    position: relative;
}

#section04 #aacc .slick-slide .cover {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 166px;
    height: 230px;
    overflow: hidden;
    transition: all 1s;

}


#section04 #aacc .slick-slide .cover img {
    transform: rotateY(180deg);
}

#section04 #aacc .slick-slide.on .cover {
    width: 267px;
    height: 781px;
}


#section04 #aabc {
    width: 267px;
    height: 781px;
    position: absolute;
    right: 640px;
    top: 80px;
}

#section04 .right {
    width: 492px;
    height: 480px;
    position: absolute;
    right: 75px;
    top: 402px;
}

#section04 .right .progress {
    width: 200px;
    height: 5px;
    background: #dbdbdb;
}


#section04 .right .progress .bar {
    width: 0;
    height: 5px;
    background: #000;
}


#section04 .right .progress .bar.on {
    animation: bar 2s 1 forwards;
}

@keyframes bar {

    to {
        width: 100%;
    }
}


#section04 .right > .bottom {
    width: 127px;
    height: 63px;
    position: absolute;
    left: 0;
    bottom: 40px;
}

#section04 .right .bottom > span {
    cursor: pointer;
}

#section04 .right .bottom > .leftb {
    margin-right: 8px;
}

#section04 .right .des {
    width: 492px;
    height: 188px;
    position: relative;
}


/** Scene05 **/
#section05 {
    background: #232323;
    display: flex;
}

#section05 .image_box {
    flex: 1;
    width: 1030px;
    height: 975px;
}


#section05 #right {
    display: flex;
    width: 890px;
}


#section05 #right > .boxing1 {
    position: relative;
    left: 20px;
    top: 410px;
}


#section05 #right .boxing1 > .topicon {
    margin-bottom: 30px;
    cursor: pointer;
}


#section05 #right > .boxing1 > .bottomicon {
    cursor: pointer;
}


#section05 #right .boxing2 {
    width: 540px;
    height: 388px;
    position: relative;
    left: 160px;
    top: 350px;
}


#section05 #right .boxing2 .slick-dots {
    width: 60px;
    height: 20px;
    position: absolute;
    left: 258px;
    transform: translateX(-50%);
    bottom: 282px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#section05 #right .boxing2 .slick-dots > li {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid transparent;
    background: #747474;
    transition: all .3s;
}

#section05 #right > .boxing2 .slick-dots > li.slick-active {
    background: white;
}


#section05 #right .boxing2 .slick-dots > li > button {
    display: none;
}


#section05 #right .boxing2 > .storyb {
    margin-left: 175px;
    cursor: pointer;
}


#section06 {
    background: dodgerblue;
    width: 1832px !important;
    display: flex;
}

#section06 #boxes01 {
    flex: 1;
    flex-wrap: wrap;
    height: 100vh;
}

#section06 #boxes01 .top {
    width: 960px;
    height: 486px;
    background: url("../source/images/storevisit1.jpg");
}


#section06 #boxes01 .top > .boxl1 {
    position: absolute;
    left: 192px;
    top: 280px;
    cursor: pointer;
}

#section06 #boxes01 .bottom {
    flex: 1;
    display: flex;
}


#section06 #boxes01 .bottom > .left {
    flex: 1;
    position: relative;
    width: 480px;
    height: 50vh;
    background: url("../source/images/kakao.jpg");
}

#section06 #boxes01 .bottom .left > .left_box {
    position: absolute;
    left: 75px;
    top: 160px;
    width: 312px;
    height: 200px;
}

#section06 #boxes01 .bottom .left .left_box > .text {
    margin-bottom: 15px;
}


#section06 #boxes01 .bottom .left .left_box > .text1 {
    margin-left: 70px;
}

#section06 #boxes01 .bottom .left .left_box > .boxs1 {
    position: absolute;
    left: 217px;
    top: 157px;
    animation: arrow 1s infinite alternate;
}


#section06 #boxes01 .bottom > .right {
    flex: 1;
    position: relative;
    width: 480px;
    height: 50vh;
    background: url("../source/images/codepink.jpg");
}


@keyframes arrow {

    to {
        transform: translateX(20px);
    }
}

#section06 #boxes01 .bottom .right > .boxe1 {
    position: absolute;
    left: 155px;
    top: 300px;
}


#section06 > .footer {
    flex: 1;
    height: 100vh;
}


.pop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999999;
    background: rgb(0, 0, 0);
    display: none;
}


.pop .fix_section {
    width: 1076px;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
}


.pop .fix_section .big {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    z-index: -1;
    transition: all .5s;
}


.pop .fix_section .big.on {
    opacity: 1;
    z-index: 1;
}


.pop .scroller {
    width: 844px;
    height: 100vh;
    background: red;
    position: absolute;
    right: 0;
    top: 0;
}

.pop .scroller > .page01 {
    width: 100%;
    /*height: 100vh;*/
    position: relative;
}

.pop .scroller .close{
    width: 20px;
    height: 20px;
    position: fixed;
    right: 40px;
    top: 40px;
    cursor: pointer;
}

.pop .scroller .close > div {
    width: 100%;
    height: 1px;
    background: #000;

}


.pop .scroller .close > div:nth-child(1){
    transform-origin: right bottom;
}
.pop .scroller .close > div:nth-child(2){
    transform-origin: left top;
}

.pop .scroller .close > div:nth-child(1){
    transform: rotate(-45deg) translateX(-3px) translateY(0);
}
.pop .scroller .close > div:nth-child(2){
    transform: rotate(45deg) translateX(4px) translateY(-1px);
}



.footer1 {
    position: absolute;
    right: 0;
    top: 0;
    width: 925px;
    height: 100vh;
    background: #000;
    z-index: 999;
    transform: translateX(100%);
}













